/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* ----------------------- */
/* STANDARD TAGS           */
/* ----------------------- */
html
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;}

    *,
    *:before,
    *:after
    {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;}

    body
    {
        background: #f5f7f8;
        color: #415e6e; /*#4a5b67;*/
        font: normal normal 100% 'Montserrat', 'Helvetica', 'Arial', sans-serif;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        width: 100%;}

        ul, ol,
        div, nav, header, footer,
        aside, section, article, figure,
        h1, h2, h3, img
        {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;}

        ul,
        ol {list-style: none;}

            ul li,
            ol li {display: inline-block;}

        h1,
        h2 {text-transform: uppercase;}

        h1 {font-size: 1em;}
        h2 {font-size: 0.75em; margin-bottom: 2.1em;}
        h3 {font-size: 0.75em; margin-bottom: 2.1em; color: #adadad; font-style: normal; font-weight: normal;}

        a:link,
        a:hover,
        a:visited
        {
            border: 0 none;
            color: #415e6e; /*#4a5b67;*/
            text-decoration: none;}

        img
        {
            border: none;
            outline: none;
            width: 100%;}

/* ----------------------- */
/* SHARED                  */
/* ----------------------- */
.h1  {border: none; background: transparent; color: #4a5b67; text-transform: uppercase; font-size: 1em; font-weight: bold;}
.h2  {border: none; background: transparent; color: #4a5b67; text-transform: uppercase; font-size: 0.75em; font-weight: normal;}
.h3  {border: none; background: transparent; color: #adadad; font-size: 0.75em; font-weight: normal;}
.puff-big {background: transparent; color: #adadad; font-size: 5em; font-weight: normal;}
.puff-medium {background: transparent; color: #adadad; font-size: 3em; font-weight: normal;}

.left  {float: left;}
.right {float: right;}

.fa
{
    display:   inline-table;
    font-size: 1.15em;
    width:     17.5%;}

.color-templates {background-color: #7accc8;}
.color-commands  {background-color: #fbaf5d;}
.color-errors    {background-color: #d91f26;}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;}

/* Rounded sliders */
.slider.round {border-radius: 14px;}
.slider.round:before {border-radius: 50%;}

input:checked + .slider {background-color: #4cd97d;}
input:focus + .slider {box-shadow: 0 0 1px #4cd97d;}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);}

input[type="submit"] {
    border: 1px;
    background: #f5f7f8;
    box-shadow: 0 0 1px #1c2329;
    border-radius: 0;
    padding: 5px;
    color: #4a5b67;
    font-size: 0.75em;
    font-weight: normal;}

/* ----------------------- */
/* SITE SPECIFIC           */
/* ----------------------- */
div.site-wrapper {position: relative;}


    /* ----------------------- */
    /* SIDEBAR                 */
    /* ----------------------- */
    aside.sidebar
    {
        background: #1c2329;
        height:     100%;
        padding:    0;
        position:   fixed;
        width:      16em;
        z-index:    10;}


        /* ----------------------- */
        /* LOGOTYPE                */
        /* ----------------------- */
        section.logotype
        {
            background: #1b2227;
            height:     3.125em;
            padding:    0.5em 2.5em;}

            h1 em
            {
                color:          #f5f7f8;
                display:        block;
                font-size:      0.8125em;
                font-style:     normal;
                font-weight:    normal;
                text-transform: none;}
            
           section.logotype footer
           {
                position:   absolute;
                bottom:     1em;
                left:       0;
                padding:    0.5em 2.5em;}

        /* ----------------------- */
        /* NAVIGATION              */
        /* ----------------------- */
        nav
        {
            box-sizing: border-box;
            background: transparent;
            margin:     0 2.5em;
            width:      auto;}

            nav > section
            {
                margin-bottom: 3.75em;
                margin-top:    3.75em;}

                nav section ul
                {
                    font-size: 0.875em;}

                nav section ul li
                {
                    display:        block;
                    margin-bottom:  0.9em;
                    width:          100%;}

    /* ----------------------- */
    /* CONTENT                 */
    /* ----------------------- */
    div.content
    {
        height: 100%;
        margin-left: 16em;
        position: relative;
        width: auto;}

        section.current-view
        {
            background: #fafafa;
            box-shadow: 0 2px 3px #dde0e1;
            height:     3.125em;
            position:   fixed;
            width:      100%;
            z-index: 20;
            -webkit-animation-delay: 0.2s;
            -moz-animation-delay: 0.2s;
            -o-animation-delay: 0.2s;
            animation-delay: 0.2s;}

            section.current-view header
            {
                margin: 0.875em 2.5em;
                width:  auto;}

        ul#page
        {
            margin: 6.75em 2.5em 3.75em;
            max-width: 50em;
            width: auto;
            -webkit-animation-delay: 0.5s;
            -moz-animation-delay: 0.5s;
            -o-animation-delay: 0.5s;
            animation-delay: 0.5s;}

            ul#page li
            {
                background: #ffffff;
                box-shadow: 0 2px 3px #dde0e1;
                display:    inline-block;
                height:     auto;
                margin:     0 15px 15px 0;
                min-width:  22em;
                padding:    1.25em;
                width:      auto;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;}

                ul#page li h3 em
                {
                    border-radius: 50%;
                    display:       inline-block;
                    height:        8px;
                    margin-right:  8px;
                    width:         8px;}

                ul#page li img 
                {
                    display: initial;}

/* ----------------------- */
/* BROWSER TWEAKS          */
/* ----------------------- */
.group:before,
.group:after {content: " "; display: table;}
.group:after {clear: both;}
.group       {*zoom: 1;}
